{% extends "base.html" %}
{% load staticfiles %}

{% block header %}
  <header id='homepage-header'
    data-vide-bg="/static/video/cover"
    data-vide-options="posterType: jpg">
    <div class="overlay"></div>
    <div class="container">
      <div class="intro-text">
        <img class="img-responsive center-block" src="{% static 'images/thunder_systems.png' %}" alt="Thux" title="Thux">
        <div class="intro-lead-in">
          Code <span class="text-primary">&</span> Systems
        </div>
      </div>
      <a href="#" class="page-scroll btn btn-xl">
        Tell Me More
      </a>
    </div>
  </header>
{% endblock header %}
