#homepage-header {
  min-height: 100vh;
  text-align: center;
  color: $white;
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    border: none;
    padding: 0;
    margin: 0;
    opacity: 0.5;
    background: transparent url("../../images/overlay.png") center center repeat;
    z-index: -1;
  }
  .intro-text {
    margin-top: 30vh;
    .intro-lead-in {
      margin-top: 25px;
      margin-bottom: 25px;
      font-family: $font-family-sans-serif;
      font-size: 32px;
      line-height: 22px;
    }
  }
  .btn-xl {
    padding: 20px 40px;
    border-color: $brand-primary;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: $font-family-sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: $white;
    background-color: $brand-primary;
    margin-top: 20vh;
    &:hover,
    &:active {
      color: $white;
      background-color: desaturate($brand-primary, 10%);
    }
  }
}
